VITE_WEBSOCKET_URL=# websocket url. example wss://shop-bingo-api.zulugames.live
VITE_API_URL=# api url: example https://shop-bingo-api.zulugames.live
VITE_CONFETTI_DURATION=# confetti time. example: 10
VITE_BALANCE_SIGNING_PUBLIC_KEY=
VITE_BALANCE_ISSUER_PRIVATE_KEY=
